<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samfdl.demo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 集成 腾讯 X5 TBS 浏览器WebView 内核 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".custom.CustomActivity" />
        <activity android:name=".custom.ProgressRingActivity" />
        <activity android:name=".custom.FadeOutActivity" />
        <activity android:name=".custom.ReboundActivity" />
        <activity android:name=".custom.IosActionSheetActivity" />
        <activity android:name=".custom.BottomUpActivity" />
        <activity android:name=".custom.CircleImageViewActivity" />
        <activity android:name=".custom.TextViewLinkActivity" />
        <activity android:name=".custom.WebViewActivity" />
        <activity
            android:name=".custom.CollapsingToolbarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".custom.ViewPagerActivity" />
        <activity android:name=".custom.PhotoActivity" />
        <activity android:name=".custom.LongPictureActivity" />
        <activity android:name=".custom.WheelViewActivity" />
        <activity android:name=".custom.HideVirtualKeysActivity" />
        <activity android:name=".custom.AlbumActivity" />
        <activity android:name=".custom.PreviewActivity" />

        <activity android:name=".graphic.GraphicActivity" />
        <activity android:name=".graphic.CircleActivity" />

        <activity android:name=".animation.GemActivity" />

        <activity android:name=".function.SalaryActivity" />

        <activity android:name=".lib.LibActivity" />
        <activity android:name=".lib.QRCodeActivity" />
        <activity android:name=".lib.JsBridgeActivity" />
        <activity android:name=".lib.X5WebViewActivity" />

        <activity android:name=".math.MathActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.samfdl.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>